@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/base";
@import "./partials/footer";
.page {
    @include bg-img("../images/pattern-curve.svg", bottom);
}

%shadow {
    box-shadow: 0px 50px 40px -32px rgba(47, 49, 78, 0.4);
}

.canvas {
    position: relative;
    width: 100%;
    text-align: center;
}

.photo {
    @include bg-img("../images/pattern-bg.svg", center);
    width: 375px;
    padding: 30px 0 20px;
    margin: 0 auto 30px;
    & img {
        width: 250px;
        border-radius: 5px;
        @extend %shadow;
    }
}

.icons {
    list-style-type: none;
    position: absolute;
    transform-origin: center center;
    background-color: white;
    border-radius: 20px;
    bottom: 0;
    left: calc(50% - 38px);
    &>li {
        display: inline-block;
        padding: 10px 15px;
    }
    & img {
        width: 8px;
    }
}