@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #202046;
}

body {
  min-height: 100%;
}

footer {
  background: linear-gradient(30deg, #54d3f2, #5469f2);
  width: 100%;
  padding: 11px 0;
}

.mainFooter {
  text-align: center;
}

.mainFooter p,
.mainFooter a {
  color: white;
  font-size: .7rem;
}

.mainFooter p {
  padding: 8px 0;
  margin: 0;
}

.mainFooter a {
  background-color: white;
  padding: 2px 13px;
  margin-left: 8px;
  color: #babacf;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border: 1px solid transparent;
}

.mainFooter a:hover {
  background: none;
  color: white;
  border: 1px solid white;
}

.mainFooter a:active {
  opacity: 0.6;
}

@media (min-width: 800px) {
  .mainFooter {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page {
  background: url("../images/pattern-curve.svg") no-repeat bottom left/auto;
  padding-top: 30px;
  min-height: 100vh;
}

@media (min-width: 1000px) {
  .page {
    padding: 30px 3%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .8fr 1fr;
        grid-template-columns: .8fr 1fr;
        grid-template-areas: "box2 box1";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.canvas {
  position: relative;
  width: 100%;
  text-align: center;
}

.photo {
  background: url("../images/pattern-bg.svg") no-repeat center/contain;
  width: 375px;
  padding: 30px 0 20px;
  margin: 0 auto 30px;
}

.photo img {
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 50px 40px -32px rgba(47, 49, 78, 0.4);
          box-shadow: 0px 50px 40px -32px rgba(47, 49, 78, 0.4);
}

.icons {
  list-style-type: none;
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background-color: white;
  border-radius: 20px;
  bottom: 0;
  left: calc(50% - 38px);
}

.icons > li {
  display: inline-block;
  padding: 10px 15px;
}

.icons img {
  width: 8px;
}

@media (min-width: 1000px) {
  .canvas {
    grid-area: box1;
  }
  .canva,
  .photo {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .photo img {
    width: 73%;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 22px;
  }
  .icons {
    bottom: 27px;
    left: calc(28% - 38px);
  }
}

.quote {
  background: url("../images/pattern-quotes.svg") no-repeat top/17%;
  text-align: center;
  width: 375px;
  margin: 0 auto;
  padding: 30px 30px;
}

.quote > * {
  display: block;
}

.quote__text {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.3em;
}

.quote__author p:first-child {
  font-weight: 700;
}

.quote__author p:last-child {
  opacity: .4;
}

@media (min-width: 1000px) {
  .quote {
    grid-area: box2;
    text-align: left;
    z-index: 1;
    padding: 78px 0 78px 8vw;
    width: 123%;
    background-position: 190px 31px;
  }
  .quote__text {
    font-size: 32px;
  }
  .quote__author > p {
    display: inline;
  }
}
/*# sourceMappingURL=sass.css.map */