footer {
    background: linear-gradient(30deg, $cs-blueBk, $cs-blueFr);
    margin-bottom: 0;
    width: 100%;
    padding: 11px 0;
}

.mainFooter {
    color: white;
    text-align: center;
    &>p {
        padding: 8px 0;
        margin: 0;
    }
    & a {
        background-color: white;
        padding: 2px 13px;
        margin-left: 8px;
        color: $cp-grayBlue;
        text-decoration: none;
        border-radius: 15px;
        transition: .5s ease-in-out;
        border: 1px solid transparent;
        &:hover {
            //transition: 1s ease-in-out;
            background: none;
            color: white;
            border: 1px solid white;
        }
        &:active {
            opacity: 0.6;
        }
    }
}

@media(min-width:800px) {
    .mainFooter {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}